# This is the configuration file for the global.sh script
#   Rename this file as ~/.globalrc
#
# The default host directory
DEFAULT_HOST_DIR="~/.global"
#
# The default host file (-s overrides)
SSH_HOST_FILE="${DEFAULT_HOST_DIR}/global-servers"
#
# the default user to run as (-l overrides)
SSH_USER=$USERNAME
#
# the default logging directory
LOG_DIR="."
#
# the default verbosity level.
# the default level (both options set to 0) produces a "normal"
# level of feedback output.
#
#   OPT_VERBOSE turns on all output of each command (override with -v)
#   OPT_QUIET turns off all output except errors (override with -q)
#
#       If both are set(?), OPT_VERBOSE has priority.
#
#VERBOSE=1
#QUIET=1

